<%= render 'layouts/header' %>

<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product ,class: "ui yellow button"%> |
<%= link_to 'Back', products_path ,class: "ui red button"%>