<div class="ui  menu" style="background: #99ffcc">
  <div class=" item">
    <%= link_to 'Articles', controller: 'articles' %>
  </div>

  <div class="item">
    <%= link_to 'Users', controller: 'users' %>
  </div>
  <div class="item">
    Friends
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
